.lowerPuzzle {
  --circle-size: 20vw;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  overflow: visible;
  padding-top: calc(var(--circle-size) / 2 + 2vh);
}

.lowerPuzzle > * {
  position: relative;
  z-index: 4;
}

.lowerPuzzle::before {
  content: "";
  position: absolute;
  width: var(--circle-size);
  aspect-ratio: 1;
  left: 50%;
  top: calc((-1 * var(--circle-size) / 2) - 2px);
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 2;
}

.lowerPuzzle::after {
  content: "";
  position: absolute;
  width: var(--circle-size);
  height: calc(var(--circle-size) / 2);
  left: 50%;
  top: calc((-1 * var(--circle-size) / 2) - 2px);
  transform: translateX(-50%);
  border-bottom: none;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  background: transparent;
  z-index: 3;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

/* ----- VARIANTS ----- */
/* Default */
.default {
  border: 2px solid var(--faded);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--bg);
}

.default::before {
  background-color: var(--bg);
}

.default::after {
  border: 2px solid var(--faded);
  border-bottom: none;
}

/* Blue solid */
.blue {
  border: 2px solid var(--border);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--border);
}

.blue::before {
  background: var(--border);
}

.blue::after {
  border: 2px solid var(--border);
  border-bottom: none;
}

/* Transparent background + light border (HOLLOW) */
.lightBorderSolid {
  background-color: transparent;
  border: 2px solid var(--faded);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: var(--bg);
}

.lightBorderSolid::before {
  background: var(--bg);
}

.lightBorderSolid::after {
  border: 2px solid var(--faded);
  border-bottom: none;
}

/* Transparent background + light dashed border (Home) */
.lightBorderDashed {
  background-color: transparent;
  border: 2px dashed var(--faded);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.lightBorderDashed::before {
  background-color: var(--bg);
}

.lightBorderDashed::after {
  border: 2px dashed var(--faded);
  border-bottom: none;
}

/* Transparent/white background + blue border (ADD) */
.darkBorderSolid {
  background-color: transparent;
  border: 2px solid var(--border);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: var(--bg);
}

.darkBorderSolid::before {
  background: var(--bg);
}

.darkBorderSolid::after {
  border: 2px solid var(--border);
  border-bottom: none;
}
