.main {
  background-color: hotpink;
  margin: 2%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50vh;
  gap: 16px;
}

.upperContainer {
  /* Upper piece takes ~60% of the wrapper height */
  height: 70%;
  z-index: -5;
  /* width: 30vw; */
}

.upperContainer::before {
  z-index: -5;
}

.lowerContainer {
  /* Lower piece takes the rest */
  height: 30%;
  z-index: 5;
  /* width: 30vw; */
}

.dotInLower {
  z-index: 5;
}
