.layout {
  margin: 5% 2% 2% 2%;
  position: relative;
  padding-bottom: 2%;
}

.smallPuzzleContainer {
  --gap: 1rem;
  margin: 5% 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--gap);
}

.smallPuzzleImg {
  height: 10vh;
  width: auto;
}

.animateLeft {
  animation: moveLeft 0.4s ease forwards;
}

.animateMiddle {
  animation: middlePiece 0.4s ease forwards;
}

.animateRight {
  animation: moveRight 0.4s ease forwards;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0) scale(1);
  }
  80% {
    transform: translateX(calc(var(--gap) * 2.5)) scale(1.05);
  }
  100% {
    transform: translateX(calc(var(--gap) * 2.5)) scale(1);
  }
}

@keyframes middlePiece {
  0% {
    transform: translateX(0) scale(1);
  }
  80% {
    transform: translateX(0) scale(1.05);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0) scale(1);
  }
  80% {
    transform: translateX(calc(var(--gap) * -2.5)) scale(1.05);
  }
  100% {
    transform: translateX(calc(var(--gap) * -2.5)) scale(1);
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50vh;
  gap: 16px;
}

.puzzleWrapper {
  height: 100%;
  max-width: 45vw;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.upperContainer {
  height: 70%;
  z-index: 1;
}

.lowerContainer {
  height: 30%;
  z-index: 2;
  margin-top: calc(-1 * var(--circle-size) / 2);
}

.lowerContent {
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.lowerText {
  display: flex;
}

.helpBtn {
  position: fixed;
  bottom: 2%;
  right: 5%;
  width: 15vw;
  z-index: 1000;
}

a {
  width: 100%;
}
