.layout {
  background-color: var(--bg);
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.upperContainer,
.lowerContainer {
  width: 100%;
  height: 20vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 30vh;
  margin-bottom: 5vh;
  z-index: 1000;
}

.addBtnContainer {
  width: 50vw;
}

.addBtn {
  background-color: var(--faded);
  padding: 0.7rem;
  border-radius: 9999px;
  width: 100%;
  font-size: 1rem;
  border: none;
  color: var(--text-white);
}

.addBtn:disabled {
  opacity: 0.4;
}

.linksContainer {
  width: 100%;
}

.lowerContent {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.myConnectionsContainer {
  display: flex;
  align-items: center;
  height: 15vh;
  width: 100%;
}

.navContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.changeURL {
  text-decoration: underline;
}

.inputURL {
  width: 100%;
  border-radius: 32px;
  background-color: var(--bg);
  border: 1px solid var(--faded);
  padding: 0.75rem 1.5rem;
  color: var(--text-faded);
  margin-top: 2rem;
}

.saveBtn {
  background-color: var(--accent);
  color: var(--bg);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 32px;
  margin-top: 1rem;
}
