.registerComplete {
  margin: 2%;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: end;
}

.textContainer {
  margin-bottom: 10vh;
  text-align: start;
}

.calendarBtn,
.loginBtn {
  background-color: var(--bg);
  color: var(--text-secondary);
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 32px;
  transition: background-color 0.3s ease;
  margin-top: 5vh;
}

.calendarBtn {
  border: 2px solid var(--container-bg);
}

.loginBtn {
  border: 2px solid var(--accent);
}
