.registerLandingPage {
    font-family: "Manrope", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topText {
    color: var(--text-accent);
}

.bottomHeaderText {
    color: var(--text-faded);
    margin-top: 16px;
}

.mainSection {
    width: 85%;
    position: relative;
    padding: 2rem;
}

.mainSection ::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-top: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
}

.mainSection ::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid var(--accent);
    border-left: 2px solid var(--accent);
}

.mainSection h6 {
    color: var(--text-accent);
}

.puzzleWrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.student {
    background-color: var(--accent);
}

.bottomText {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}

.stats {
    width: 90%;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.stats h5 {
    font-size: 1.8rem;
    margin: 1rem 0 0 0;
}

.stats p {
    font-size: 0.8rem;
    margin: 0;
}

.infoWrapper {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoWrapper h4 {
    font-size: 1.5rem;
}

.info {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.numberBox {
    width: 3rem;
    height: 3rem;
    background-color: var(--container-bg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    padding: 1rem;
}

.numberBoxAccent {
    background-color: var(--accent);
}

.instructions {
    width: 80%;
    margin-top: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--container-bg);
}

.ending {
    margin: 5rem 0 5rem 0;
}