:root {
  --yrgo-blue: #002a52;
}

.lowerPuzzle {
  --circle-size: 20vw;

  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* border: 2px dashed darkgray; */
  background-color: white;
  position: relative;
  overflow: visible;
  padding-top: calc(var(--circle-size) / 2 + 2vh);
}

.lowerPuzzle > * {
  position: relative;
  z-index: 4;
}

.lowerPuzzle::before {
  content: "";
  position: absolute;
  width: var(--circle-size);
  aspect-ratio: 1;
  left: 50%;
  top: calc(-1 * var(--circle-size) / 2);
  transform: translateX(-50%);
  border-radius: 50%;
  background: white;
  z-index: 2;
}

.lowerPuzzle::after {
  content: "";
  position: absolute;
  width: var(--circle-size);
  height: calc(var(--circle-size) / 2);
  left: 50%;
  top: calc((-1 * var(--circle-size) / 2) - 4px);

  transform: translateX(-50%);
  border: 2px dashed darkgrey;
  border-bottom: none;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  background: transparent;
  z-index: 3;
  pointer-events: none;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

/* Variants */
/* Blue solid */
.blue {
  background-color: var(--yrgo-blue);
  border: 2px solid var(--yrgo-blue);
}

.blue::before {
  background: var(--yrgo-blue);
  border: none;
}

.blue::after {
  border-color: var(--yrgo-blue);
  border: none;
}

/* Transparent background + light border */
.lightBorder {
  background-color: white;
  border: 2px solid lightgray;
}

.lightBorder::before {
  background: white;
}

.lightBorder::after {
  border-color: lightgray;
}

/* Transparent background + blue border */
.darkBorder {
  background-color: white;
  border-color: var(--yrgo-blue);
}

.darkBorder::before {
  background: white;
}

.darkBorder::after {
  border-color: var(--yrgo-blue);
}
