.leftPiece,
.middlePiece,
.rightPiece {
  width: 15vw;
  aspect-ratio: 1;
  border-radius: 8px;
  position: relative;
  background-color: hotpink;
}

.leftPieceRightKnob,
.middlePieceLeftKnob,
.middlePieceRightKnob,
.rightPieceLeftKnob {
  width: 8vw;
  aspect-ratio: 1;
  border-radius: 9999px;
  position: absolute;
}

.leftPieceRightKnob {
  right: -20%;
  top: 25%;
  background-color: hotpink;
}

.middlePieceLeftKnob {
  right: -30%;
  top: 25%;
  background-color: white;
}

.middlePieceRightKnob {
  left: -30%;
  top: 25%;
  background-color: white;
}

.rightPieceLeftKnob {
  left: -20%;
  top: 25%;
  background-color: hotpink;
}
