.puzzlePiece {
    background-color: var(--accent);
    height: 116px;
    width: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.puzzlePiece p {
    color: var(--text-white);
    font-size: 18px;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    z-index: 1;
}

.puzzleTab {
    background-color: var(--accent);
    height: 61px;
    width: 61px;
    border-radius: 50%;
    position: absolute;
    right: -17px;
    z-index: 0;
}