.whiteButton {
  background-color: var(--bg);
  color: var(--text-secondary);
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--container-bg);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 32px;
  transition: background-color 0.3s ease;
}

.arrowIcon {
  margin-left: 0.5rem;
}
