* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.main {
  background-color: white;
  /* width: 100%;
  height: 100%; */
  padding: 2% 5%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.upperPuzzle {
  --circle-size: 20vw;

  margin-top: 5vh;
  width: 95vw;
  height: 20vh;
  border-radius: 20px;
  border: 2px dashed lightgray;
  background-color: white;
  position: relative;
  overflow: visible;
}

.upperPuzzle::before {
  content: "";
  position: absolute;
  width: var(--circle-size);
  aspect-ratio: 1;
  left: 50%;
  bottom: calc(-1 * var(--circle-size) / 2);
  transform: translateX(-50%);
  border-radius: 50%;
  background: white;
  z-index: 2;
}

.upperPuzzle::after {
  content: "";
  position: absolute;
  width: var(--circle-size);
  height: calc(var(--circle-size) / 2);
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border: 2px dashed lightgray;
  border-bottom: none;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  background: transparent;
  z-index: 3;
  pointer-events: none;
}

.label {
  font-size: 1.5rem;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 40vh;
}

.input {
  width: 50%;
  padding: 0.5rem;
  height: 4rem;
  border-radius: 8px;
  border: 1px solid lightgray;
  background-color: white;
  color: darkgrey;
  font-size: 2.5rem;
  text-align: center;
}

.button {
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: lightgray;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
}

.lowerPuzzle {
  --circle-size: 20vw;

  width: 95vw;
  height: 20vh;
  border-radius: 20px;
  background-color: yellow;
  position: relative;
}

.dotInLower {
  position: absolute;
  width: var(--circle-size);
  aspect-ratio: 1;
  top: calc(-1 * var(--circle-size) / 2);
  left: 50%;
  transform: translateX(-50%);
  background-color: yellow;
  border-radius: 50%;
}

.myConnectionsContainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 15vh;
}

.myConnections {
  margin: 2vh 0 4vh 0;
  padding: 1rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 95vw;
  background-color: lightgray;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
}
